body {
  font-family: "Poppins", sans-serif;
}

.greeting-header {
  padding: 80px 20px;
  font-family: "Playfair Display", serif;
  background-image: url(/images/fresh-palm-leaves-beige_2.jpg);
  background-size: 1347px 300px;
  margin-bottom: 60px;
}

.profile-photo {
  width: 250px;
}

.block {
  display: block;
}

.center {
  text-align: center !important;
}
